@model SH.Website.Models.ViewModels.UserContactViewModel
@using SH.Website.Models

@*@{ ViewBag.Title = "MailBox"; }
    @{ var data = (AdminContactModel)ViewData["Message"]; }*@
@{ ViewBag.Title = "UserReadMail"; }
@{ var messageList = ViewBag.Message;
    var ModelFiles = ViewBag.ModelFiles;}

@{ Layout = "~/Views/Shared/_LayoutReadMail.cshtml"; }
<div class="wrapper">
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <!-- Navbar Search -->
            <li class="nav-item">

                <a asp-area="" asp-controller="MailBox" asp-action="Logoff" class="nav-link">
                    <input type="submit" value="Logout" class="btn btn-primary" />
                </a>

        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/dashboard-template/dist/img/WhatsApp Image 2021-01-15 at 03.34.43.jpeg" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hasan Mumcu</a>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->


                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Mailbox
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="UserMailBox" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inbox</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="UserCompose" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Compose</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="UserReadMail" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Read</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Pages
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">

                            </li>


                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Compose</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Compose</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a asp-area="" asp-controller="Home" asp-action="UserMailBox" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Folders</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-inbox"></i> Inbox
                                            <span class="badge bg-primary float-right">12</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-envelope"></i> Sent
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-file-alt"></i> Drafts
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-filter"></i> Junk
                                            <span class="badge bg-warning float-right">65</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-trash-alt"></i> Trash
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Labels</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="far fa-circle text-danger"></i> Important</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="far fa-circle text-warning"></i> Promotions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="far fa-circle text-primary"></i> Social</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Read Mail</h3>

                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                                    <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <!-- /.card-header -->


                            @if (messageList == null)
                            {



                                Html.RenderPartial("Error");



                            }
                            else
                            {

                        @foreach (var p in messageList)
                        {
                        <div class="card-body p-0">
                            <div class="mailbox-read-info">
                                <h5>@p.Subject</h5>
                                <h6>
                                    To: @p.to
                                    <span class="mailbox-read-time float-right">@p.Timestamp</span>
                                </h6>
                            </div>
                            <!-- /.mailbox-read-info -->
                            <div class="mailbox-controls with-border text-center">
                                <div class="btn-group">
                                    @using (Html.BeginForm("deleteFromUser", "Home", new { subject = @p.Subject }))
                                    {

                                <a asp-action="deleteFromUser" asp-controller="Home"><input class="button" id="submit" type="submit" value="Delete" /></a>}
                                    <i class="far fa-trash-alt"></i>
                          
                                                        <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                                                            <i class="fas fa-reply"></i>
                                                        </button>
                                                                            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                                                                                <i class="fas fa-share"></i>
                                                                            </button>
                                                                                            </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm" title="Print">
                                    <i class="fas fa-print"></i>
                                </button>
                            </div>
                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message">
                                <p>@p.Message</p>


                            </div>
                            <!-- /.mailbox-read-message -->
                        </div> <!-- /.card-body -->
                                            <div class="card-footer bg-white">
                                                <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                                                    <li>
                                                       
                                                        @if (ModelFiles != null)
                                                        {
                                                            foreach (var f in ModelFiles)
                                                            {
                                    <div class="col-lg-3">
                                        <img src="~/img/@f.Name" style="width:90%;">
                                        <div style="padding:10px;text-align:center"><a href="@Url.Action("deletefile","fileupload",new { fname=f.Name})">Delete</a></div>
                                    </div>}
                            }
                                                        <div class="clearfix"></div>
                                                    </li>

                                                </ul>
                                            </div> <!-- /.card-footer -->
                                                                <div class="card-footer">
                                                                    <div class="float-right">
                                                                        <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
                                                                        <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
                                                                    </div>
                                                                    <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
                                                                    <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
                                                                </div>}} <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>


